.container {
  padding: 1.5rem 5%;
}

.bodyMain {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  gap: 4rem;
}

.searchResults {
  width: 100%;
  height: 100%;
}

.popularNews {
  width: 400px;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .popularNews {
    display: none;
    border: 2px solid red;
    width: 0px;
  }

  .bodyMain {
    gap: 0rem;
  }
}
