.container {
  position: relative;
}

.container > img {
  height: 549px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.filterOverlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: linear-gradient(
      0deg,
      rgba(51, 51, 51, 0.2),
      rgba(51, 51, 51, 0.2)
    ),
    linear-gradient(
      180.13deg,
      rgba(0, 0, 0, 0) 77.07%,
      rgba(0, 0, 0, 0.7) 99.89%
    ),
    url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fe0.365dm.com%2F21%2F05%2F2048x1152%2Fskysports-zinedine-zidane-real-madrid_5400870.jpg&imgrefurl=https%3A%2F%2Fwww.skysports.com%2Ffootball%2Fnews%2F11835%2F12321362%2Fzinedine-zidane-says-real-madrids-lack-of-faith-led-to-his-departure&tbnid=zsLwxwqC20TuwM&vet=12ahUKEwjzlumirqf8AhUraqQEHWDNBtIQMygFegUIARDgAQ..i&docid=Xd3vabrJvea0mM&w=2048&h=1152&q=zidane%20pictures&ved=2ahUKEwjzlumirqf8AhUraqQEHWDNBtIQMygFegUIARDgAQ");
  border-radius: 3px;
  z-index: 1;
}

.textsection {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 18px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 2;
  padding: 0 21px;
}

.topFeatured {
  margin-bottom: 4rem;
}

.topFeatured > div:nth-child(1) {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #ffffff;
  background: #ef2339;
  border-radius: 3px;
  padding: 1px 0.5rem;
  display: inline;
}

.topFeatured > div:nth-child(2) {
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  text-transform: capitalize;
  color: #ffffff;
  width: 70%;
  margin: 0.5rem;
}

.featuredSet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featuredSetNews {
  display: flex;
  align-items: stretch;
  gap: 6px;
  width: 30%;
  cursor: pointer;
}

.featuredSetNews > div:nth-child(1) {
  width: 2px;
  background: rgba(255, 255, 255, 0.5);
}

.featuredSetNews:nth-child(1) > div:nth-child(1) {
  width: 2px;
  background: #ef2339;
}

.featuredSetNews > div:nth-child(2) {
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
}

.featuredSetNews > div:nth-child(2) > div:nth-child(1) {
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.featuredSetNews > div:nth-child(2) > div:nth-child(2) {
  text-transform: capitalize;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.featuredSetNews:hover > div:nth-child(2) > div:nth-child(1) {
  color: #ffffff;
}

.featuredSetNews:hover > div:nth-child(2) > div:nth-child(2) {
  color: #333333;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .topFeatured > div:nth-child(2) {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .topFeatured > div:nth-child(2) {
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    margin: 0.5rem 0;
  }

  .featuredSet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
  }

  .featuredSet::-webkit-scrollbar {
    height: 4px;
  }

  /* Track */
  .featuredSet::-webkit-scrollbar-track {
    background: var(--backGroundBlack);
  }

  /* Handle */
  .featuredSet::-webkit-scrollbar-thumb {
    background: rgb(98, 98, 98);
    border-radius: 3px;
  }

  /* Handle on hover */
  .featuredSet::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .featuredSetNews {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
  }

  .topFeatured {
    margin-bottom: 2rem;
  }
}
