.livematch {
  margin-bottom: 0.6rem;
}

.matchHeader {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: #001a43;
  border-radius: 2px;
  padding: 10px;
}

.liveMatchDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.liveMatchDetail > div {
  padding: 10px 0;
}

.liveMatchDetail:last-child > .scoreSection {
  border-bottom: none;
}

.timeSection,
.dateSection {
  width: 25%;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: rgba(51, 51, 51, 0.6);
  text-align: center;
}

.scoreSection {
  width: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 0.5px solid rgba(51, 51, 51, 0.3);
}

.scoreSection > div > div:nth-child(2) {
  color: #ef2338;
}
