.container {
  margin-top: 1.5rem;
}

.news {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 1.5rem;
}

.news > div:nth-child(1) {
  height: 224px;
  width: 223px;
  border-radius: 3px;
}

.newsTextCenter {
  width: 70%;
}

.newsTextCenter > div:nth-child(1) {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ef2339;
  margin-bottom: 1rem;
}

.newsTextCenter > div:nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 0.8rem;
}

.newsTextCenter > div:nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

@media screen and (max-width: 767px) {
  .news > div:nth-child(1) {
    height: 100px;
    width: 150px;
    border-radius: 3px;
  }

  .newsTextCenter > div:nth-child(1) {
    font-size: 10px;
    line-height: 10px;

    margin-bottom: 1rem;
  }

  .newsTextCenter > div:nth-child(2) {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0.2rem;
  }

  .newsTextCenter > div:nth-child(3) {
    font-size: 10px;
    line-height: 12px;
  }

  .news {
    gap: 15px;
  }
}
