.container {
  padding: 1.5rem 5%;
}

.bodyMain {
  display: flex;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.bodyMain > div {
  height: 100%;
}

.bodyMain > div:nth-child(1),
.bodyMain > div:nth-child(3) {
  width: 335px;
}

.bodyMain > div:nth-child(2) {
  width: 100%;
  /* border: 2px solid red; */
}

.containerMain {
  padding: 0 20px;
}
