.livematch {
  margin-bottom: 0.6rem;
}

.matchHeader {
  background: #001a43;
  border-radius: 2px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.matchHeader > div:nth-child(1) > img {
  height: 21px;
  width: 21px;
}

.matchHeader > div:nth-child(2) > h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.matchHeader > div:nth-child(2) > p {
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #ffffff;
  opacity: 0.5;
}

.liveMatchDetail {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 1rem 0 2rem;
}

.liveMatchDetail > div {
  padding: 10px 0;
}

.liveMatchDetail:last-child > .scoreSection {
  border-bottom: none;
}

.timeSection {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  opacity: 0.5;
}

.teamSection {
  width: 100%;
}

.teamSection > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.teamSection > div > div:nth-child(1) > img {
  height: 16px;
  width: 16px;
}

.teamSection > div > div:nth-child(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: capitalize;
  color: #333333;
}

.teamSection > div > div:nth-child(3) {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: #333333;
  margin-left: auto;
  color: #333333;
}
