.container {
  /* padding: 1.5rem 5%; */
}

.bodyMain {
  display: flex;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.bodyMain > div {
  height: 100%;
}

.leftSection,
.rightSection {
  width: 435px;
}

.containerMain {
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .leftSection,
  .rightSection {
    display: none;
  }
  .containerMain {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .leftSection,
  .rightSection {
    display: none;
  }

  .containerMain {
    width: 100%;
    padding: 0;
  }
}
