.bodyMain {
  padding: 1.5rem 5%;
}

.blogContentSection {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  gap: 4rem;
}

.blogContent {
  width: 100%;
  height: 100%;
}

.popularNews {
  width: 400px;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .blogContentSection {
    flex-direction: column;
  }

  .popularNews {
    width: 100%;
    height: 100%;
  }
}
